<mat-drawer-container class="example-container">
  <mat-drawer
    #drawer
    class="example-sidenav text-center mat-elevation-z1"
    mode="side"
    opened="true"
    disableClose="true"
  >
    <mat-icon
      color="primary"
      style="width: 100px; height: 100px; font-size: 100px"
      class="block"
      >diamond</mat-icon
    >
    <app-navbar-item
      class="w-64 block rounded-lg"
      matIcon="show_chart"
    ></app-navbar-item>
  </mat-drawer>
  <mat-toolbar>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      aria-label="Example icon-button with dark mode icon"
      (click)="toggle.toggle()"
    >
      <mat-icon>dark_mode</mat-icon>
    </button>
    <mat-slide-toggle #toggle></mat-slide-toggle>
  </mat-toolbar>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
